<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <div class="container">
        <h5 class="h5">Registro de Peso</h5>
        <div class="row">
          <div class="col-xl-6">
            <form action="">
              <div class="form-group">
                <input type="text" class="form-control" name="peso" [(ngModel)]="pesosForm">
                <button class="btn mt-3 col-12 btn-success" (click)="salvarPeso()">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
