<div class="container-fluid">
  <div class="container">
    <div class="row">
      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Criar receita
      </button>
      <div class="collapse" id="collapseExample">
        <div class="col-xl-4 col-md-4 col-sm-12">
          <form action="">
            <div class="form-group">
              <label for="">Título</label>
              <input type="text" class="form-control" name="titulo" [(ngModel)]="receita.titulo">
            </div>
            <div class="form-group">
              <label for="">Imagem</label>
              <input type="text" class="form-control" name="image" [(ngModel)]="receita.image">
            </div>
            <div class="form-group">
              <label for="">Rendimento</label>
              <input type="number" class="form-control" name="porcoes" [(ngModel)]="receita.porcoes">
            </div>
            <div class="form-group">
              <label for="">Duração</label>
              <input type="number" class="form-control" name="tempo" [(ngModel)]="receita.tempo">
            </div>
            <div class="form-group">
              <label for="">Ingrediente</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="ingrediente" [(ngModel)]="ingrediente"
                  [ngModelOptions]="{standalone: true}">
                <button class="btn btn-outline-secondary" type="button" (click)="addIngrediente()">Inserir</button>
              </div>
            </div>
            <div class="form-group">
              <label for="">Modo de preparo</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="preparo" [(ngModel)]="preparo"
                  [ngModelOptions]="{standalone: true}">
                <button class="btn btn-outline-secondary" type="button" (click)="addPreparo()">Inserir</button>
              </div>
            </div>
            <button class="btn btn-block btn-success" (click)="addReceita()">Salvar</button>
          </form>
        </div>
      </div>
      <div class="col-xl-8 col-md-8 col-sm-12">
        <h5 class="h5">Ingredientes</h5>
        <ul>
          <li *ngFor="let item of ingredientes">{{item}}</li>
        </ul>
        <h5 class="h5">Modo de Preparo</h5>
        <ul>
          <li *ngFor="let item of preparos">{{item}}</li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-xl-3 col-md-4 col-sm-12" *ngFor="let item of receitas">
        <div class="card">
          <img src="{{item.image}}" alt="" class="card-img">
          <div class="card-body">
            <h5 class="card-title">{{item.titulo}}</h5>
            <p class="card-text">Tempo de preparo: {{item.tempo}} min</p>
            <p class="card-text">{{item.porcoes}} porções</p>
            <a [routerLink]="['/desafio-three', item.id]"><button class="btn btn-warning">Ver mais</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
